*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
#navbar{
    position:sticky;
    top:0;
    z-index:10;
}
.navbar{
    background-image: linear-gradient(to right,#a517ba,#5f1782);
    padding: 0 !important;
}
.navbar-brand img{
    height: 40px;
    padding-left: 20px;
}
.navbar-nav li{
    padding:0px 20px;
}
.navbar-nav a{
    color: white !important;
    font-weight: 600;
    float:right;
    text-align: left;
}
.fa-bars{
    color: white;
    font-size: 25px;
}
.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}
/*Banner Section*/
#banner{
    background-image: linear-gradient(to right,#a517ba,#5f1782);
    color:#fff;
    padding-top:5%;
}
.promo-title{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 100px;
}
.play-btn{
  width: 45px;
  margin:20px
}
#banner a{
    color:#fff;
    text-decoration: none;
}
.bottom-img{
    width: 100%;
    display:block;
}
/*----------About Section-----------*/
#services{
    padding: 80px 0;
}
.service-img{
    width: 100px;
    margin-bottom: 20px;
}
.services {
    padding: 20px;
}
.services h3 {
    padding: 20px;
    text-transform: uppercase;
}
.title{
    padding:20px;
}
.title::before{
    content: '';
    width: 200px;
    height: 4px;
    background-color: #a517ba;
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
    transform:translateY(95px)
}
.title::after{
    content: '';
    width: 50px;
    height: 10px;
    background-color: #a517ba;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}
#services button{
    box-shadow: none;
    padding:10px 20px;
    border:none;
    border-radius:50px;
    background-image: linear-gradient(to right,#a517ba,#5f1782);
}